#startpage{
    width: 400px;
    height: 600px;
    border: 1px solid black;
}
#level{
    display:inline;
}

form{
    display:inline;
}

#infobar{
	height:30px;
	width:400px;
	border:1px solid black;
	
}

#timer{
	display:inline;
}

#pause{
	display: inline;
	margin: auto;

}

#score{
	display: inline;
	float:right;

}


#canvas{
	
	border: 1px solid black;
}

#orange{
	display: none;
}
